body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

ul {
  list-style-type: none;
  line-height: 27px;
}

.main-title {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.fundo {
  background-image: url("./img/building.png");
}

.center {
  text-align: center;
}

.links {
  font-size: 18px;
  color: white;
  text-align: center;

}

a:link,
a:active,
a:hover,
a:enabled {
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-align: center;
}


.process {
  font-size: 32px;
  font-weight: bold;
}

.item-process {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.middle-title {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.footer {
  font-size: 11px;
  color: white
}

.footer-back {
  background-color: dimgray;
}
